<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{fontName}}</title>
    <style>
            {{{styles}}}
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h1>{{fontName}}</h1>
    <div class="row">
        {{#each names}}
            <div class="col-sm-2">
                <div class="card text-center" style="width: 100%;">
                    <div class="card-body">
                        <h1 class="card-title text-center my-3">
                            <span class="icon {{../classPrefix}}{{this}}"></span>
                        </h1>
                        <h6 class="card-subtitle mb-2 text-muted">{{this}}</h6>
                        <p><code>icon {{../classPrefix}}{{this}}</code></p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
</body>
</html>
